
    <div class="hero-unit">
        <h1>Welcome to my Recovery Tracker App</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa.</p>
        <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </div>
