@import 'bootstrap';
@import 'bootstrap-responsive';

$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarBackgroundHighlight: none;
$navbarBackground: none;
$btnPrimaryBackground: green;

body {

}

.navbar {
    @include box-shadow(none !important);
    border: none;
   
}

#insert {

}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}